  body {
            background-color: black;
            color: white;
            text-align: center;
            padding: 20px;
        }
        .container {
            width: 600px;
            margin: auto;
            padding: 20px;
            background-color:darkblue;
            border-radius: 10px;
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
        }
        .form-control {
            width: 100%;
        
        }
        .btn {
            width: 100%;
            margin: 5px;
     
        .btn-info {
            background-color: skyblue;
            border: none;
        }
        
        .img {
            width: 5% 
            margin-bottom: 10px;
        
        }

        .label{
            text-align: center;
        }